[Unit]
Description=Manage USB device functions
DefaultDependencies=no
After=local-fs.target

[Service]
Type=forking
# The standalone Linux adbd defaults to /bin/sh; use bash for adb shell.
Environment=ADBD_SHELL=/bin/bash
ExecStart=/usr/bin/usbdevice start
ExecStop=/usr/bin/usbdevice stop

[Install]
WantedBy=sysinit.target
